---
import ElevatedButton from "../Buttons/ElevatedButton.astro";
import TextButton from "../Buttons/TextButton.astro";
import headerImage from "/header.webp";
import { Icon } from "astro-icon";
import { t } from "i18next";
---

<div class="flex my-16 mt-40 px-16 items-center">
  <div class="flex-1">
    <h1
      class="text-[32px] mb-8 lg:text-[54px] leading-tight font-bold"
      data-aos="fade-up"
      data-aos-duration="600"
    >
      {t("header.titleleftpart")}
      <span class="text-gradient"> {t("header.gradientpart")}</span>
      {t("header.titlerightpart")}
    </h1>
    <p
      class="my-12 text-gray-400 text-[18px]"
      data-aos="fade-down"
      data-aos-duration="900"
    >
      {t("header.subtitle")}
    </p>
    <div class="flex">
      <ElevatedButton link="#our_services"
        >{t("header.discoverbutton")}
      </ElevatedButton>
      <TextButton
        link="#our_services"
        className="flex items-center mx-8 md:mx-12"
      >
        {t("header.ourservices")}
        <Icon name="mdi:arrow-right" class="w-5 ml-2" />
      </TextButton>
    </div>
  </div>
  <div class="hidden md:flex-1 md:block">
    <img
      src={headerImage}
      alt="header_image"
      data-aos="zoom-in"
      data-aos-duration="900"
    />
    <!-- Set carousel -->
  </div>
</div>
