---
import { SiteText } from "../../constants/texts";
import { Icon } from "astro-icon";

const size = 24;
const contact = [
  {
    text: SiteText.contactEmail,
    icon: "ic:outline-email",
  },
  {
    text: SiteText.contactPhone,
    icon: "ic:baseline-local-phone",
  },
  {
    text: `| ${SiteText.contactPlace}`,
    icon: "ic:twotone-place",
  },
];
---

<div class="flex flex-col">
  <h3 class="font-bold text-[20px] md:text-[24px] mb-4">Contact</h3>
  <ul>
    {
      contact.map((item, index) => (
        <li class="flex items-center font-book">
          <Icon name={item.icon} class="w-5" />
          <div class="pl-2 md:pt-[2px] lg:pt-0">{item.text}</div>
        </li>
      ))
    }
  </ul>
</div>
