---
type Props = {
  placeholder: string;
  label?: string;
  icon?: boolean;
  className?: string;
};

const { placeholder, label, icon = true, className = "" } = Astro.props;
---

<div class="input-border flex py-3 px-4 rounded-md items-start">
  <slot />
  <textarea
    class={`focus:outline-0 bg-transparent placeholder:text-white w-full ${
      icon ? "ml-4" : "ml-0"
    } ${className}`}
    placeholder={placeholder}></textarea>
</div>
